# Set the default behavior for all files
* text=auto

# Specify files or file types that should always be treated as binary
*.png binary
*.jpg binary

# Specify files or file types that should always use LF (Unix-style) line endings
*.sh text eol=lf

# Specify files or file types that should always use CRLF (Windows-style) line endings
*.txt text eol=crlf

# Ignore changes in files that match these patterns
*.log -diff
*.zip -diff
